<a href="https://colab.research.google.com/github/JoaoCuri/br-python-challenges/blob/master/Exerc%C3%ADcio_aula4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url = ('http://api.bcb.gov.br/dados/serie/bcdata.sgs.4448/dados?formato=csv')

In [15]:
df = pd.read_csv(url,sep=";",engine='python')
df.head()

         data  valor
0  01/01/1992  26,18
1  01/02/1992  22,40
2  01/03/1992  21,25
3  01/04/1992  18,96
4  01/05/1992  25,52